<div class="tweet">
  <div class="tweet_container">
    <% tweet_obj = Tweet.return_tweet_object_by_id(@tweet) %>

    <% if tweet_obj.media? %>
      <img src="<%= tweet_obj.media[0]["media_url"].to_s %>">
    <% end %>

    <div class="user_thumb">
      <img src="<%= tweet_obj.user.profile_image_url.to_s %>">
    </div>

    <div class="user_name">
      <strong><%= tweet_obj.user.name %></strong>
      <p>@<%= tweet_obj.user.screen_name %></p>
    </div>

    <div class="tweet_text">
    <% tweet_without_url = tweet_obj.text.gsub(/(http:\/\/)(.*)/, '').strip %>
      <% if tweet_obj.uris[0] %>
        <p><%= tweet_without_url %> <a href="<%= tweet_obj.uris[0].attrs[:expanded_url] %>"><%= tweet_obj.uris[0].attrs[:display_url]  %></a></p>
      <% else %>
        <p><%= tweet_without_url %></p>
      <% end %>
    </div>

    <div class="tweet_link">
      <a href="<%= tweet_obj.url.to_s %>" target="_blank">Go to this tweet</a>
    </div>
  </div>

</div>
