<%= erb :'/search/main' %>

<div class="all">

  <table>
    <% @searches.each do  |search| %>
      <tr>
        <th>
          <a href="/search/<%= search.id %>"><h1><%= search.term %></h1></a>
        </th>
        <td>
          <%= search.date_posted %>
        </td>
        <td class="delete_button_cell">
            <form action="/search/<%=search.id%>" method="POST">
              <input type="hidden" name="_method" value="DELETE">
              <input type="hidden" name="search_id" value="<%= search.id %>">
              <button type="submit" >Delete</button>
            </form>
        </td>
      </tr>
    <% end %>
  </table>

</div>
