<%= erb :'/search/main' %>

<div class="show_results">

  <% unless @search.term == nil %>
    <h1>Results for <span style="color: #0066CC"><%= @search.term %></span>:</h1>
    <hr>

    <% unless @search.tweet == nil %>
      <div class="media_title">
        <img src="/img/twitter_logo.png">
        <h4>Twitter:</h4>
      </div>
      <% @tweet = @search.tweet %>
      <%= erb :'tweet/show' %>
    <% end %>

    <% unless @search.youtube == nil %>
      <div class="media_title">
        <img src="/img/youtube_logo.png">
        <h4>Youtube:</h4>
      </div>
      <%  @youtube = @search.youtube %>
      <%= erb :'youtube/show' %>
    <% end %>

    <% unless @search.RedditSearches == nil %>
      <div class="media_title">
        <img src="/img/reddit_logo.png">
        <h4>Reddit:</h4>
      </div>
      <%  @reddit = @search.RedditSearches %>
      <%= erb :'reddit/show' %>
    <% end %>


  <% end %>

    <form action="/search/<%=@search.id%>" method="POST">
       <input type="hidden" name="_method" value="DELETE">
       <input type="hidden" name="search_id" value="<%= @search.id %>">
      <button type="submit" >Delete entry</button>
    </form>

</div>
