<%= erb :'/search/main' %>

<div class="show_results">

  <% unless @search.term == nil %>
    <h1>Results for <span style="color: #0066CC"><%= @search.term %></span>:</h1>

      <% unless @search.tweet == nil %>
        <h4>Twitter:</h4>
        <% @tweet = @search.tweet %>
        <%= erb :'tweet/show' %>
      <% end %>

      <% unless @search.youtube == nil %>
        <h4>Youtube:</h4>
          <%  @youtube = @search.youtube %>
          <%= erb :'youtube/show' %>
      <% end %>


        <h4>Reddit:</h4>
          <%  @reddit = @search.RedditSearches %>
          <%= erb :'reddit/show' %>


  <% end %>

    <form action="/search/<%=@search.id%>" method="POST">
       <input type="hidden" name="_method" value="DELETE">
       <input type="hidden" name="search_id" value="<%= @search.id %>">
      <button type="submit" >Delete entry</button>
    </form>

</div>
